$primary-color:#ffffff;
$secondary-color:#3E86F5;
$pink-color:#F178B6;
$lpink-color:#FCDDEC;
$lblue-color:
#F2F6FF;
$blue-color:#3E86F5;
$purple-color:#7879F1;
$lpurple-color:#F1F1FD;

$font-weight:(
    normal:500,
    regular:600,
    bold:900

)